.navbar {
    display: flex;
    top: 30px;
    left: 10px;
    right: 10px;
    height: 55px;;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.33);
    color: #fff;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    border-radius: 20px;
    z-index: 3;
}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li:hover{
    font-weight: 800;
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.center {
    padding-right: 130px; /*added it to centralize the logo within the whole page and not only the nav bar*/
}

.center img {
    max-width: 100%;
    height: 50px;
}

/* Hero section styling */
.hero-section {
    padding-top: 100px; 
    padding-bottom: 60px; 
    background: #fff; 
  }
  
  .hero-section h1 {
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 30px; 
    font-family: "Righteous",sans-serif ;
  }
  
  
  .hero-section p {
    font-size: 1rem; 
    color: #666; 
    line-height: 1.5; 
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .hero-section p .role {
    font-weight: 700;
  }
  
  
  .hero-section .role,
  .hero-section .duration,
  .hero-section .tools,
  .hero-section .project-type {
    font-weight: bold; 
  }
  
 
  .roaming-xplore-photo {
    text-align: center; 
    padding: 20px; 
  }
  
  .roaming-xplore-photo img {
    max-width: 100%; /* Ensure image is responsive and does not exceed its container */
    height: auto; /* Maintain the aspect ratio of the image */
    border-radius: 8px;
  }
  

.context-card {
    background-color: #fff;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-bottom: 15px; 
    text-align: center; 
    cursor: pointer; 
  }
  
  .context-card .card-body {
    padding: 20px;
  }
  
  .context-card .number,
  .context-card .title,
  .context-card .info {
    color: #000;
    margin: 0;
    line-height: 1.2; 
  }
  
  .context-card .number {
    font-size: 2em; 
  }
  
  .context-card .title {
    font-size: 1.5em; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .context-card .info {
    display: none; /* Hide the info text initially */
  }
  
  .context-card .title:after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #000;
    margin: 20px auto;
  }
  
  /* Hover styles */
  .context-card:hover {
    background-color: #B5DDBF;
  }
  
  .context-card:hover .number,
  .context-card:hover .title {
    color: #fff; /* White text on hover */
  }
  
  .context-card:hover .info {
    display: block; /* Show the info text on hover */
    color: #000;
  }
  
  .context-card:hover .title:after {
    background-color: #fff; /* White line on hover */
  }
  
  /* Context Section Styles */
.context-section {
    background-color: #fff;
    color: #333; /* Dark text for readability */
  }
  
  .context-title {
    font-size: 2rem;
    color: #000; 
    font-weight: bold;
    margin-bottom: 1rem; /* Spacing below the title */
  }
  
  .context-subhead {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-bottom: 2rem; /* Spacing below the subhead list */
    font-weight: bold; /* Bold font for subheadings */
  }
  
  .context-subhead li {
    padding: .5rem 0; /* Spacing for each list item */
    border-left: 3px solid #4CAF50; /* Green border on the left of list items */
    margin-bottom: .5rem; /* Spacing between list items */
  }
  
  .context-content h3 {
    font-size: 1.5rem; /* Font size for subheadings in content */
    color: #333; /* Dark text color for subheadings */
    font-weight: bold; /* Bold font for subheadings */
    margin-top: 1rem; /* Spacing above subheadings */
  }
  
  .context-content p {
    font-size: 1rem; /* Font size for paragraph text */
    line-height: 1.6; /* Line height for paragraph text */
    margin-bottom: 1rem; /* Spacing below paragraphs */
  }
  
  /* Divider Line Styles */
.section-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Design Process Section Styles */
  .design-process-section {
    background-color: #fff; 
    color: #333;
  }
  
  .design-process-title {
    font-size: 2rem; 
    font-weight: bold; 
    margin-bottom: 3rem; 
    color: #2c3e50;
  }
  
  /* Ensuring the image is responsive and scales with the parent container */
  .img-fluid {
    max-width: 90%;
    height: auto;
  }
  
  /* Project Brief Section Styles */
.project-brief-section {
    background-color: #fff; 
    color: #333; 
  }
  
  .project-brief-title {
    font-size: 2rem; 
    color: #2c3e50; 
    font-weight: bold; 
    margin-bottom: 1rem; 
  }
  
  .project-brief-subhead {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-bottom: 2rem; 
    font-weight: bold; 
  }
  
  .project-brief-subhead li {
    padding: .5rem 0; 
    border-left: 3px solid #4CAF50; 
    margin-bottom: .5rem; 
  }
  
  .project-brief-content h3 {
    font-size: 1.5rem; 
    color: #333; 
    font-weight: bold;
    margin-top: 1rem; 
  }
  
  .project-brief-content p {
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 1rem; 
  }
  
.user-quote-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border: 3px solid #ddd;
}
  
  blockquote {
    font-size: 1rem; 
    font-style: italic; 
    margin-top: 1rem; 
    max-width: 80%; 
  }
  
  
.features-section {
    background-color: #fff; 
    padding-top: 40px; 
    padding-bottom: 40px; 
  }
  
  .features-section .container {
    max-width: 1200px; 
  }
  
  .features-section h3,
  .features-section h4 {
    color: #000; 
    margin-bottom: 15px; 
  }
  
  .features-section ol {
    counter-reset: feature-counter;
    list-style-type: none; 
    padding-left: 0; 
  }
  
  .features-section ol li {
    counter-increment: feature-counter; 
    margin-bottom: 15px; 
    font-size: 1rem; 
    line-height: 1.5; 
    position: relative; 
  }
  
  .features-section ol li::before {
    content: counter(feature-counter) "."; 
    position: absolute; 
    left: -35px; 
    top: 0;
    color: #333; 
  }
  
  .features-section h4 {
    /* font-size:  */
    font-weight: bold; 
  }
  
  .features-section p {
    font-size: 1rem; 
    color: #666; 
    margin-bottom: 10px; 
  }
  
  .features-section .value-proposition {
    font-weight: bold; 
    color: #333; 
    margin-top: 30px; 
  }
  

  .features-section .value-proposition-img {
    width: 100%; 
    height: auto; 
    margin-top: 20px; 
  }
  
  .features-section .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  
  .design-section {
    background-color: #fff;
    color: #333;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .design-title, .prototype-title {
    font-size: 2.5rem;
    color: #2c3e50;
    font-weight: bold;
  }
  
  .design-subhead, .lo-fi-subhead, .prototype-subhead {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-bottom: 2rem; 
    font-weight: bold; 
  }
  
  .design-subhead li, .lo-fi-subhead li, .prototype-subhead li {
    padding: .5rem 0; 
    border-left: 3px solid #4CAF50; 
    margin-bottom: .5rem; /* Spacing between list items */
  }
  
  .design-subtitle, .lo-fi-title, .prototype-subtitle {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .design-description, .lo-fi-description, .prototype-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .design-section img, .lo-fi-section img {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 8px;
  }

  
  .card-img-top-centered {
    max-width: 75%; 
    height: auto; 
    display: block; 
    margin: 1rem auto; 
  }

  .card-no-boarder {
    border: 0 !important;
    box-shadow: none !important;
  }








  .footer {
    background: linear-gradient(to bottom,rgba(49, 119, 171, 0.75), rgba(209, 170, 175, 0.75));
    color: #fff;
    padding: 50px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
}

.footer-content {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline;
    margin-right: 30px;
}

.social-link {
    color: #fff;
    text-decoration:underline;
    font-size: 18px;
    font-weight: 800;
}

.social-link:hover {
    color:#000;
}
  
  @media (max-width: 768px) {
    .design-section {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .design-title {
      font-size: 2rem;
    }
  
    .design-subtitle, .lo-fi-title {
      font-size: 1.25rem;
    }
  
    .design-description, .lo-fi-description {
      font-size: 0.9rem;
    }
  }
  
  